// src/assets/scss/base/_variables.scss

// Colori
$primary-color: #ff4612;
$secondary-color: #1e1c1c;
$text-color: #333;
$background-color: #fafafa;
$second-back-color: black;
$neutral-color: white;

// Tipografia
$font-primary: "Libre Baskerville", serif;
$font-secondary: Arial, sans-serif;
$font-size-base: 16px;

// Spaziature
$spacing-unit: 15px;
$dropdown-padding: 10px 20px;

// Transizioni
$transition-duration: 0.5s;
$transition-ease: ease;
